h1 {
  text-align: center;
  color: red;
}

h2 {
  text-align: center;
  color: red;
}

#numberOne {
  margin-left: 559px;
}

#operator {
  text-align: center;
  font-size: 50px;
  margin-bottom: 40px;
}

#numberTwo {
  margin-left: 559px;
}

#equals {
  text-align: center;
  font-size: 15px;
  margin-top: 15px;
}

#clear {
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
}

#numbersOnDom {
  text-align: center;
  font-size: 80px;
}
