#phiPhoto {
  display: block;
  margin: auto;
  width: 20%;
}

h1 {
  text-align: center;
  color: red;
}

h2 {
  text-align: center;
  color: red;
  font-size: 40px;
}

/*#numberOne {
  margin-left: 559px;
} uncomment for base mode

#operator {
  text-align: center;
  font-size: 50px;
  margin-bottom: 40px;
} uncomment for base mode

#numberTwo {
  margin-left: 559px;
} uncomment for base mode*/

#calculator {
  text-align: center;
}/* comment out for base mode */

#operator {
  text-align: center;
  margin-top: 20px;
}/* comment out for base mode */

#equals {
  text-align: center;
  font-size: 15px;
  margin-top: 15px;
}

#clear {
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
}

#numbersOnDom {
  text-align: center;
  font-size: 80px;
}
